<templateSet group="Spring">
  <template name="rc" value="@RestController" description="Spring @RestController" toReformat="false" toShortenFQNames="true">
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
  <template name="rm" value="@RequestMapping" description="Spring @RequestMapping" toReformat="false" toShortenFQNames="true">
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
  <template name="gm" value="@GetMapping(&quot;$PATH$&quot;)" description="Spring @GetMapping" toReformat="false" toShortenFQNames="true">
    <variable name="PATH" expression="" defaultValue="" alwaysStopAt="true" />
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
  <template name="pm" value="@PostMapping" description="Spring @PostMapping" toReformat="false" toShortenFQNames="true">
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
  <template name="dm" value="@DeleteMapping" description="Spring @DeleteMapping" toReformat="false" toShortenFQNames="true">
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
  <template name="rb" value="@RequestBody" description="Spring @RequestBody" toReformat="false" toShortenFQNames="true">
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
  <template name="rp" value="@RequestParam(&quot;$PARAM_NAME$&quot;) $PARAM_TYPE$ $NAME$" description="@RequestParameter" toReformat="false" toShortenFQNames="true">
    <variable name="PARAM_NAME" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="PARAM_TYPE" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="NAME" expression="" defaultValue="" alwaysStopAt="true" />
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
  <template name="pv" value="@PathVariable(&quot;$NAME$&quot;)" description="@PathVariable" toReformat="false" toShortenFQNames="true">
    <variable name="NAME" expression="" defaultValue="" alwaysStopAt="true" />
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
  <template name="sv" value="@Service" description="@Service" toReformat="false" toShortenFQNames="true">
    <context>
      <option name="JAVA_CODE" value="true" />
    </context>
  </template>
</templateSet>